body    {overflow-x: hidden;
         min-width: 340px;
         color: #f1f1f1;
         background-color: #2b2b2b;
         width: auto;
         height: auto;
        }

.webiconbox  {display: block;
              padding: 3px;
              padding-left: 0px;
              width: 1330px;
              height: 55px;
              background-color: black;
            }
.webiconbox img {width: 150px;
                 height: 55px;
                }
.cookiesAnnounce-30a9a  {display: none;
                        }

.thumb-list    {margin-left: 10%;
                }

.thumb-list__item {max-width: 65%;
                  }

